<!DOCTYPE html>
<html lang="en">
<head>
    <title>contenedor padre</title>

    {% load static %}
    <link href="{% static 'CSS/seleccion.css' %}", rel="stylesheet">
    <link href="../static/CSS/seleccion.css", rel="stylesheet">
    <style>
        
    </style>
    <script>

    </script>
</head>
<body>
    <header>
        <a href="#"><button id="homeButton"><p>Home</p></button></a>
    </header>
    <main>
        <div id="">
            <div></div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>