<!DOCTYPE html>
<html lang="en">
<head>
    <title>contenedor padre</title>

    {% load static %}
    <link href="{% static 'CSS/dashboards.css' %}", rel="stylesheet">
    <link href="../static/CSS/dashboards.css", rel="stylesheet">

    <!-- CSS -->
    <style>
        
    </style>
    
    <!-- jQuery & JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script><!-- jQuery-UI -->
    <script>
        
    </script>
</head>
<body>
    <header>
        <a href="http://127.0.0.1:8000/Home/inicio"><button id="homeButton"><p>Home</p></button></a>
    </header>
    <main>
        <div id="dashbox-fase1">
            <!--<script src="../static/JS/dashbox1.js"></script>--> <!-- Test 1 -->
            <script src="../static/JS/dashbox2.js"></script> <!-- Test 2 -->

            <input type="file", id="fileInput", style="display: none;">
            <button onclick="document.getElementById('fileInput').click()"><p>Add Data</p></button>
        </div>
        <div id="dashbox-fase2">

        </div>
    </main>
    <footer>

    </footer>
</body>
</html>