<!DOCTYPE html>
<html lang="en">
<head>
    <title>contenedor padre</title>

    {% load static %}
    <link href="{% static 'CSS/dashboards.css' %}", rel="stylesheet">
    <link href="../static/CSS/dashboards.css", rel="stylesheet">
    <style>
        
    </style>
    <script>

    </script>
</head>
<body>
    <header>
        <a href="http://127.0.0.1:8000/Home/inicio"><button id="homeButton"><p>Home</p></button></a>
    </header>
    <main>
        <div id="dashbox">
            <div class="dashbox-col1">
                <button>.csv</button>
                <button>.sqlite3</button>
            </div>
            <div class="dashbox-col2">
                <button>.xlsx</button>
                <button>html</button>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>