* {
    padding: 0px;
    margin:0px;
}


body {
    padding: 5px;

    background-color: grey;
    align-items: center;
}


/*---------- Buttons ----------*/
#buttons-box {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    transform: translate(-50, -50);
    padding: 25px;
    margin: 100px  auto;
    
    height: 700px;
    width: 400px;
    border-radius: 50px;

    
    
    background-color: rgba(245, 245, 245, 0.509);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3); /* offsetX, offsetY, blurRadius, spreadRadius, color */
}

#buttons {
    width: 200px;
    height: 70px;
    background-color: rgba(47, 45, 45, 0.288);
    margin: 50px auto;

    border-radius: 25px;
    
}
#buttons, p {
    font-size: 25px;
    font-style: unset;
    
}
/*---------- ----------*/

#notification-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 300px;
    width: 300px;
    border-radius: 50px;


    background-color: rgb(174, 168, 161);

}

