<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Analytic</title>

    {% load static %}
    <link href="../static/CSS/inicio.css", rel="stylesheet">
    <link href="{% ../static/CSS/innicio.css %}", rel="stylesheet">


</head>
<body>
    <div id="home-buttons">
        <button id="buttons", href=""><p>New</p></button>
        <button id="buttons"><p>Dashboards</p></button>
        <button id="buttons">Notifications</button>
    </div>
</body>
</html>