<!DOCTYPE html>
<html lang="en">
<head>
    <title>Live Analytic</title>

    {% load static %}
    <link href="static/CSS/inicio.css", rel="stylesheet">
    <link href="{% static 'CSS/inicio.css' %}", rel="stylesheet">


</head>
<body>
    <div id="home-buttons">
        <a href="http://127.0.0.1:8000/newdashboard/dashboard_new"><button id="buttons"><p>New</p></button></a>
        <button id="buttons"><p>Dashboards</p></button>
        <button id="buttons">Notifications</button>
    </div>
</body>
</html>