/*---------- color ----------*/
:root {
    --color-green: #41B06E;
    --color-orange: #FFBB70;
    --color-background: rgb(32, 29, 26);
}

/*---------- dimensions ----------*/
:root {
 padding: none;
}

* {
    padding: 3px;
    margin: 0px;
}
/*---------- ----------*/

body {
    background-color: var(--color-background);
}

main {
    display: flex;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 50px;

    background-color: rgba(122, 122, 122, 0.298);
}

#homeButton {
    transform: translate(-50, -50);

    width: 150px;
    height: 40px;
    border-radius: 12px;

    background-color: var(--color-orange);
    color: var(--color-green);
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.855);

}

/*---------- bashbox ----------*/
#dashbox-fase1, #dashbox-fase2 {
    position: relative;
    display: block;
    margin: 25px;
    padding: 10px;
    
    width: calc(8.9*40px);
    height: calc(5.1*40px);
    min-height: calc(5.1*40px);
    min-width: calc(8.9*40px);
    resize: both;
    border-radius: 20px;
    overflow: hidden;


    background-color: rgb(64, 75, 75);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 255, 255, 0.1);
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.855); /* x, y, desenfoque, color */
    
}

/*--- fase 1 ---*/
#dashbox-fase1 button {
    position: absolute;
    transform: translate(-50%, -50%);
    
    top:50%;
    left: 50%;
    
    width: 100px;
    height: 50px;
    border-radius: 10px;

    background-color: rgba(212, 170, 32, 0.628);
    color: antiquewhite;
    border: none;
    box-shadow: 0 0 10px black;
}
#dashbox-fase1 p {
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/*--- fase 2 ---*/
